# BexBot Environment Variables

# Application
NEXT_PUBLIC_APP_NAME=BexBot
NEXT_PUBLIC_APP_URL=http://localhost:3000

// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDN3xVkNnmkk_HlV_oWGOu57697CoH19U8",
  authDomain: "bexbot-48739.firebaseapp.com",
  projectId: "bexbot-48739",
  storageBucket: "bexbot-48739.firebasestorage.app",
  messagingSenderId: "657662067063",
  appId: "1:657662067063:web:a7a716d4844c61ba626172",
  measurementId: "G-NP67PZ33XW"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);

